@charset "ISO-8859-1";
@charset "ISO-8859-1";
/*body and background styles*/
body{
	background-color:#057D90;
  /*background-image: url('../Images/station.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100%;
  width: auto;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
   padding-bottom: 25px;
}
/*header menu bar styles*/
.header{
  float: left;
  width:100%;
  padding: 0px;
  position: fixed;
  top: 0px;
  padding-top: 20px;
}

.header a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 20px;
}

.header a:hover{
  text-shadow: 0px 0px 10px #FFFFFF;
}
/*middle div bar styles*/
div{
	z-index: -1;
}
.homediv{
    width: 100%;
  	height: 300px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background-color: rgba(0, 0, 0, 0.6);


}
/*report header styles*/
.not-gen-rep-header{
	border :1px solid  #000;
	text-align:center;
	height:40px;
	width:20%;
	color:white;
	background:#000;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
   font-family:Times New Roman", Times, serif;
}
/*report styles*/
table{
	border :1px solid  #fff;
    padding: 25px 30px;
    width: 100%;
    margin-bottom: 25px;
    margin-top:25px;
    
}
tr:nth-child(even) {
  background: #F9F9F9;
}

 tr:nth-child(odd) {
  background: #F5F5F5;
}
.rep-table-data{
	text-align:center;
}
/*Report Header styles*/
.not-insert-header{
	text-align:center;
	text-transform: uppercase;
	font-size: 30px;
   font-weight: 300;
  	color: #fff;
}
hr{
	width:50%;
	margin:auto;
	color: #fff;
	border:1px solid white;
}
/*report description styles*/
.report-desc{
	font-family:sans-serif;
	font-size:15px;
	text-align:center;
	color: #fff;
}
/*back button styles*/
.not-rep-backbtn{
	border :2px solid #FF2724;
	color: #FF2724;
	cursor: pointer;
	padding : 10px;
	margin-left:100px;
	background:transparent;
	margin-top:90px;
	border-radius: 50%;
	margin-bottom:10px;
	font-size:20px;
	height:50px; 
	width:50px;
}
.not-rep-backbtn:hover{
		background-color: #FF2724;
  		color: white;
}
