@charset "ISO-8859-1";
/*body and background styles*/  
body{
	background-color:#057D90;
	/* background-image: url('../Images/station.jpg');*/
  	 height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
   	 background-size: cover;	
	
}
/*header menu bar styles*/
.header{
  float: left;
  width:100%;
  padding: 0px;
  position: fixed;
  top: 0px;
  padding-top: 20px;
}

.header a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 20px;
}

.header a:hover{
  text-shadow: 0px 0px 10px #FFFFFF;
}

/*notice insert header text styles*/
.not-insert-header{
	text-align:center;
	text-transform: uppercase;
	font-size: 30px;
   font-weight: 300;
  	color:white;
}
/* notice insert form styles*/
#notice-insert-form{
	
	padding: 20px;
	border-radius: 25px;
	border: 1px white; 
	background-color: rgba(0, 0, 0, 0.6);
	margin: 10px 500px 10px 500px;
	max-width: 600px;
	
}
/*labels of the form styles*/
.not-ins-label{
	
	color:white;
	font-family: sans-serif;
	letter-spacing: 0.5px;
	font-size: 1.1em;
	font-weight: 300;
	
}
/*label of text area*/
.not-ins-label-right{
	color:white;
	font-family: sans-serif;
	letter-spacing: 0.5px;
	font-size: 1.1em;
	font-weight: 300;
}
/*input field of text area*/
.not-ins-textarea{
	 box-shadow: 0px 0px 2px #000000;
     border:0; 
     outline:0;
     padding: 1em;
     display: block;
     width:auto;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow :(0 1px 1px rgba(black, 0.1));
     resize: none;
     
   
}

/* input field of email styles*/
  .not-inst-input{
   box-shadow: 0px 0px 2px #000000;
  	 width: 450px;
  	 border:0; outline:0;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow :(0 1px 1px rgba(black, 0.1));
     resize: none;
    
  
}
  /*select options dropdown styles*/
.inst-not-select {
		height: 40px;
		padding-left: 5px;
		border: 2px solid #FFF;
		display: block;
		width: 100%;
		overflow: hidden;
		outline: none;
		color:#B6B6B6;
		font-weight: 50;
		font-family: sans-serif;
		letter-spacing: 0.5px;
		font-size:15px;
}
/*options in the dropdown style*/
.inst-not-options{
			color:black;
			padding: 10px 10px;
			font-weight: 300;
			cursor: pointer;
		
}
/*form span styles*/
.not-inst-span{
	color:red;
}

/*insert notice button styles*/
.not-inst-submit{
     color: white; 
     border :2px solid #FF2724;
     background: transparent;
     cursor: pointer;
     padding : 10px;
     width: 100%;
     font-size:20px;
     border-radius: 25px;
    
  
  }
.not-inst-submit:hover {
      background-color: #FF2724;
      color:white;
    }
/*notice view button styles*/

.viewnoticebtn{
	
  color: #FFFFFF;
  padding: 20px;
 border: 3px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  display: absolute;
  left: 50%;
  transition-duration: 300ms;
  text-align: center;

}
.viewnoticebtn:hover{
	background-color: #FFFFFF;
  	color: #000000;
  	mix-blend-mode: screen;
}
/*go to search.jsp button styles*/
#instnoticeicon{
	
	font-size:25px;
  	 width: 100%;
  	 color:#B9B9B9;
}
#instnoticeicon:hover{
	color:black;
}