@charset "ISO-8859-1";

/*body and background styles*/ 
body{
	background-color:#057D90;
  /*background-image: url('../Images/station.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
/*header menu bar styles*/
.header{
  float: left;
  width:100%;
  padding: 0px;
  position: fixed;
  top: 0px;
  padding-top: 20px;
}

.header a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 20px;
}

.header a:hover{
  text-shadow: 0px 0px 10px #FFFFFF;
}

/*update form styles*/
#notice-insert-form{
	
	padding: 20px;
	border-radius: 25px;
	border: 1px white; 
	background-color: rgba(0, 0, 0, 0.6);
	margin: 10px 500px 20px 500px;
	max-width: 700px;

	
}
/*notice update header text styles*/
.not-insert-header{
	text-align:center;
	text-transform: uppercase;
	font-size: 30px;
   	font-weight: 300;
  	color:white;
  	
}
/*labels of the form styles*/
.not-ins-label{
	
	font-family: sans-serif;
	letter-spacing: 0.5px;
	font-size: 1.1em;
	font-weight: 300;
	color:white;
	
}

.not-ins-label-right{
	color:white;

}
/*notice type indicator text styles*/
.not_type_text{
	margin-left: auto; 
	margin-right: 0;
}
/*input areas styles*/
.not-inst-input{
  	 width: 450px;
  	 border:0; outline:0;
     padding: 1em;
     display: block;
     margin-top: 1em;
     height:10px;
     font-family: 'Merriweather', sans-serif;
     box-shadow :(0 1px 1px rgba(black, 0.1));
     resize: none;
     font-size:15px;
    
  
}
/*input area for readonly id and date*/
.not-inst-inputid{
	 border:1px solid #CDCCCC;
	 width: 450px;
   	 outline:0;
   	 height:10px;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow :(0 1px 1px rgba(black, 0.1));
     resize: none;
     font-size:15px;
     background: #CDCCCC;
}
/*input field of text area*/
.not-ins-textarea{
	
     border:0; 
     outline:0;
     padding: 1em;
     display: block;
     width:auto;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow :(0 1px 1px rgba(black, 0.1));
     resize: none;
     
   
}
/*select options dropdown styles*/
.inst-not-select {
		height: 25px;
		padding-left: 5px;
		border: 2px solid #FFF;
		display: block;
		width: 100%;
		overflow: hidden;
		outline: none;
		color:#B6B6B6;
		font-weight: 50;
		font-family: sans-serif;
		letter-spacing: 0.5px;
		font-size:15px;
}
/*options in the dropdown styles*/
.inst-not-options{
			color:black;
			padding: 10px 10px;
			font-weight: 300;
			cursor: pointer;
		
}
/*update button styles*/
.not-inst-update{
     color: #20B654; 
     text-decoration: none;
     background: #20B654;
     background-color: transparent;
     cursor: pointer;
     padding : 10px;
     border: 3px solid #20B654;
     font-size: 16px;
  	 font-weight: bold;
     width: 200px;
     margin-left:150px;
     border-radius: 25px;
     float:left;
  
  }
.not-inst-update:hover {
      background-color: #168A3E;
      color:white;
    }

/*delete button styles*/
.not-inst-delete{
	 margin-left:400px;
     color: white; 
     background: #e74c3c;
     cursor: pointer;
     padding : 10px;
     border:0;
     border-radius: 50%;
     margin-bottom:10px;
     font-size:20px;
	 height:50px; 
	 width:50px;
  
  }
.not-inst-delete:hover {
      background-color: #AF3C30;
    }
	
.below-padding{
	padding:3px;
	background: #E8E8E8;
}
/*back button styles*/
.update-backbtn{
	border :2px solid #FF2724;
	color: #FF2724;
	background: transparent;
	cursor: pointer;
	padding : 10px;
	margin-left:100px;
	margin-top:90px;
	border-radius: 50%;
	margin-bottom:10px;
	font-size:20px;
	height:50px; 
	width:50px;
	
}
.update-backbtn:hover{
	background-color: #FF2724;
  		color: white;
}
.updatebuttons{
	display:inline;
}